.body {
    font-family: 'Merriweather Sans';
    color: slategrey;
    background: white;
    font-size: 14px;
    padding: 30px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul {
  padding-left: 20px;
}

.name {
    font-size: 200%;
    font-weight: bold;
}

.section-header {
    text-transform: uppercase;
    color: #064acb;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 20px;
}

.company-name,
.project-name {
    font-weight: bolder;
}

.job-role ,
.project-description{
    font-style: italic;
}

.content-header {
    color: darkslategrey;
    font-size: 15px;
}

.job-duration {
    font-family: 'Open Sans';
    color: lightslategrey;
    font-size: 12px;
    font-weight: bold;
}

.job-summary,
.project-summary {
    margin-top: 10px;
    color: #495464;
}

.padding-left-0 {
  padding-left: 0px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-left-20 {
  margin-left: 20px;
}

.project {
  margin-bottom: 20px;
}

.font-bold {
  font-weight: bolder;
}

.font-180 {
  font-size: 180%;
}

.font-200 {
  font-size: 200%;
}

.fa-stackoverflow-color{
  color: #EE7A3B;
}

.fa-github-color{
  color: #000000;
}

a {
  text-decoration: underline;
}

.company-experience-header {
  text-decoration: none;
  cursor: pointer;
}

.content-header-parent {
  margin-left: 20px;
}

.logo {
  height: 40px
}

.company-experience-header {
  display: flex;
  align-items: center;
}

.job-summary {
  margin-left: 60px;
}

.skills-parent {
  display: flex;
  margin-top: 40px;
  align-items: center;
}

.skills-parent .section-header {
  margin-bottom: 0px;
}

.stylish {
  font-family: cursive;
  color: black;
}

.project-line {
  display: flex;
  margin-bottom: 6px;
}

.project-line-main {
    min-width: 120px;
    font-family: cursive;
    font-weight: 600;
    letter-spacing: 0.7px;
}

a.project-line-main {
  color: #6796f1;
}

.skills {
  color: #495464;
}

.skills-main {
  align-self: flex-start;
}

@media screen and (max-width: 600px) {
  .body {
    padding:5px;
  }
  .job-summary {
    margin-left: 0px;
  }
}
